/* App.css */
.App {
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.container-with-border {
  border: 2px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TaskList {
  list-style-type: none;
  padding: 0;
}

.TaskList li {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.TaskList li.completed {
  text-decoration: line-through;
  background-color: #e0e0e0;
}

.TaskListForm {
  display: flex;
  flex-direction: column;
}

/* Style your buttons, labels, and other elements as needed */
